<html>
    <body>
        <ul>
            <li><a href="{% url 'authapp:login' %}">Login</a></li>
            <li><a href="{% url 'authapp:register' %}">Register</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <h1>Login to your account</h1>
        <form method="POST" action="{% url 'authapp:login' %}">
            {% csrf_token %}

            {% if messages %}
                {% for msg in messages %}
                    <div>{{msg}}</div>
                {% endfor %}

            {% endif %}
            <label>Username</lable>
            <input type="text" name="username" />
            <br>
            <label>Password</lable>
            <input type="password" name="password" />
            <br>
            <input type="submit" value="Login" />
        </form>
    </body>
</html>